/* OVERRIDE Bootstrap*/
:root {
  --main-color: #06a099;
  --background-main: #13505D;
}

/* Brand Colors - University of Lille */
$main-color: #093943;
$clear-main-color: #06a099;
$second-color: #B8166B;
$third-color: #FAEB49;
$third-color-text: #CE9A21;
$text-color: #13505D;
$ulill-font: 'Raleway', sans-serif;

/* Generic class - Usefull in all App */
.text-main{
  color : $text-color !important;
  font-weight: normal ;
}
.text-second{ color : $second-color !important;}
p, h1, h2, h3, h4, h5, h6, span, a, label{
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  //font-family: $ulill-font, sans-serif !important;
  //text-decoration:none !important;
}
p, h1, h2, h3, h4, h5, h6, span, label{color: $text-color;}
