.mainctn{
  padding: 18px;
  margin: 12px 2%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 2px 5px #888888;
}

.grey-ctn{
  margin-bottom: 12px;
  border-radius: 12px;
  background-color: #f0f0f0;
  padding: 15px;
  box-shadow: 1px 2px 5px #888888;
}

.mainTitle{
  color: white;
  font-size: 28px;
  font-weight: lighter;
}

.uptitle{
  color: $third-color;
  font-size: 18px;
  font-weight: lighter;
}

.text-yellow{
  color: $third-color;
}

.explorebtn{
  background-color: $main-color;
  border-radius: 40px;
  padding: 14px 25px;
  color: white;
  width: 100%;
  font-weight: bolder;
  &:hover{
    color: white;
    background-color: darken($main-color, 5%);
  }
  &:disabled{
    background-color: #707070;
    color: white;
    opacity: 1;
  }
}
.explorebtn-delete{
  background-color: $second-color !important;
  border: none !important;
  color: white !important;
}
.explorebtnsecondary{
  border: 2px solid $clear-main-color;
  background-color: white;
  border-radius: 40px;
  padding: 14px 25px;
  color: $clear-main-color;
  width: 100%;
  font-weight: bolder;
  &:hover{ color: $clear-main-color; }
  &:disabled{
    background-color: #707070;
    color: white;
    opacity: 1;
  }
}

.montserrat{
  font-family: Montserrat , Arial, Helvetica, sans-serif !important;
}

.raleway{
  font-family: 'Raleway', Arial, Helvetica, sans-serif !important;
}


.errors{
  &-ctn{
    border: solid 1px red;
    padding: 15px;
    border-radius: 20px;
  }
  &-list{
    text-align: left;
    margin-left: 8px;
  }
}

.datepicker{
  padding: 20px;
}

.rgpd-paragraph > p,
.rgpd-paragraph > ul > li{
  text-align: justify;
  font-family: $ulill-font;
  color: $text-color;
}
.bg-warning{
  background-color: rgba(255, 0, 0, 0.2) !important;
  padding: 8px 16px;
  border-radius: 6px;
}

.cbAmbassador{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}

.desaturate{
  filter: saturate(0);
  opacity: 0.5;
}

.login-ctn{
  width: 90%;
  margin-left: 5%;
}

.maxheightSafari{
  max-height: 50px;
}
